i {
  margin-right: 10px;
}

.loading-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Set height to 70vh */
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #EBB434; /* Change spinner color to #EBB434 */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loading-widget p {
    margin-top: 20px;
    font-size: 1.
  }

  .IngredientsList{
    list-style-type: none;
    padding: 0;
  }

  .ingredientListItem{
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 14;
    padding: 5px 10px;
    font-weight: 400;
    margin: 5px 15px;
  }
  
.deleteIngredientButton {
    flex-shrink: 0;
    margin-left: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    border: none;
    background: none;
  }

  .IngredientItems{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    position: relative;
  }

  .InputContainer{
    position: absolute;
    bottom: 0;
    width: 93%;
    margin: 0 auto 20px auto;
  }
  
  .recipe-font {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #2e2e2e;
  }

  .recipe-heading{
    text-decoration: underline;
  }

  .recipe-steps p{
    margin: 16px 0;
  }

  .recipe-steps ol li{
    margin: 12px 0 12px 12px;
    font-weight: 500;
    text-align: left;
  }

  .RecipeContainer{
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
    color: white;
  }

  .recipe-steps ol{
    font-size: 14px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px 0;
  }

  .HeadingContainer{
    margin-top: 24px;
    margin-bottom: 20px;
  }


  .Menu {
    position: absolute; 
    top: 0;            
    right: 0;          
    padding: 10px;    
    z-index: 1000;    
    display: flex;
    align-items: center;
    gap: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2e2e2e;
  border: none;
  list-style: none;
  margin-top: 5px;
  max-height: 0; 
  opacity: 0; 
  overflow: hidden; 
  transition: max-height 0.3s ease, opacity 0.3s ease; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid white;
}

.dropdown-menu.show {
  max-height: 500px; 
  opacity: 1; 
}

.dropdown-menu li {
  cursor: pointer;
  text-align: right;
  padding: 10px;
  white-space: nowrap;
  color: white;
  font-weight: 400;
  border-top: none;
  border: none;
  font-size: 12px;
}

.dropdown-menu li:hover {
  text-decoration: underline;
}

/* Button styling */
.dropdown-toggle {
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #363636;
  border: 1px solid white;
  font-size: 12px;
  transition: 0.2s;
}

.dropdown-toggle:hover {
  background-color: grey;
}


.SignInButton {
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 4px;
    border: 1px solid white;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #363636;
    font-size: 12px;
    transition: 0.2s;
}

.SignInButton:hover {
  background-color: grey;
}

.poppins-thin {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif !important;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif !important;
  font-weight: 900;
  font-style: italic;
}




  @media (max-width: 768px) {
    .HeadingContainer{
      text-align: left;
      margin-top: 50px;
      margin-bottom: 0;
    }
    .HeadingContainer p {
      font-size: 14px;
    }
    .IngredientItems{
      padding: 10px;
    }
    .RecipeContainer{
      padding: 10px;
    }
    .Menu{
      padding: 5px;
    }
  }